*

!.gitignore

!setup.sh

!.config/

!.config/bash/
!.config/bash/**

!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/README.md
!.config/nvim/after/
!.config/nvim/after/**
!.config/nvim/lua/
!.config/nvim/lua/**

!.tmux.conf
!.config/tmux/
!.config/tmux/scripts/
!.config/tmux/scripts/**


